*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
Android/build-PiBlaster-Android_for_armeabi_v7a_GCC_4_8_Qt_5_2_0-Debug/

Android/PiBlaster/PiBlaster.pro.user
Android/build-PiBlaster-Android_for_armeabi_v7a_GCC_4_8_Qt_5_2_0-Release/
Android/build-PiBlaster-Desktop_Qt_5_2_0_GCC_64bit-Debug/
